
.custom-menu-item {
    -fx-background-color: #ffca79;
}

.context-menu {
    -fx-background-color: #ffca79;
    -fx-border-color: #ffca79;
}

.celda-dorada {
    -fx-background-color: #cca160;
    -fx-text-fill: black;
}

