
.custom-menu-item {
    -fx-background-color: #ffca79;
}

.context-menu {
    -fx-background-color: #ffca79;
    -fx-border-color: #ffca79;
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color: #cca160;
    -fx-text-fill: black;
    -fx-border-color: #b38a50;
}

/* Estilo para el texto de los encabezados */
.table-view .column-header .label {
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
}

.table-view .table-cell {
    -fx-background-color: #ffe87b; /* Color del contenido */
    -fx-text-fill: black;
    -fx-border-color: transparent;
}

.table-view {
    -fx-border-color: #f1e5d0;
    -fx-border-width: 2px;
    -fx-background-color: transparent; /* Fondo transparente para que se vea el AnchorPane */
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}
.table-view .virtual-flow {
    -fx-background-color: transparent;
}
